Cython
dvc-s3
absl_py==2.1.0
jax==0.4.25
lightning==2.2.0.post0
matplotlib==3.8.3
ml_collections==0.1.1
numpy==1.26.4
ogb==1.3.6
polars==0.20.22
ray==2.11.0
rdkit==2023.9.5
scipy==1.13.0
seaborn==0.13.2
setuptools==58.1.0
torch==2.2.1
torch_geometric==2.5.3
torchmetrics==1.3.1
wandb==0.16.3
