absl-py
jax
matplotlib
seaborn
ml_collections
numpy
ogb
polars
rdkit
scipy
torch_geometric
torchmetrics
wandb>=0.24.0
lightning
ConfigSpace
hpbandster
ray[train]==2.48.0
ray[tune]==2.48.0
teqp
PCSAFTsuperanc
feos==0.8.0
si-units
xgboost
onnx
onnxscript
onnxruntime
plotly
nbformat
ipywidgets
matplotlib-venn